<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<div id="main_container">
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-5 centered"><h1> UPCOMING EVENTS </h1></div>
		</div>
		{% if eventsList %}
		    {% for event in eventsList %}
		    <div class="row">
		    	<div class="col-xs-1"> </div>
	        	<div class="col-xs-3">
	        		<h3>
	        			<a href="/event/{{ event.id }}/" >
	        				{{ event.name }}  
	        			</a>
	        		</h3>
	        	</div>
	        	<div class="col-xs-7">
	        		<h3>Starting on: {{event.startTime}} @ {{event.location}}</h3>
	        	</div> 
		    </div>
		    {% endfor %}
		{% else %}
		    <p>No events are available.</p>
		{% endif %}
	</div>
	<br /><br /><br />
</body>
</html>