<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<div id="main_container" class="jumbotron">
		<div class="row">
			<div class="col-xs-5"></div>
			<div class="col-xs-3 centered"><h1> FOODIE </h1></div>
		</div>
		<div class="row">
			<div class="col-xs-2"> </div>
			<div class="col-xs-4">
				<a href="/events/" class="btn btn-lg btn-success" role="button">See all Upcoming Events</a>
			</div>
			<div class="col-xs-2"> </div>
			<div class="col-xs-4">
				<a href="/vendors/" class="btn btn-lg btn-success" role="button">View all Vendors</a>
			</div>
			<div class="col-xs-1"> </div>
		</div>
	</div>
	<br /><br /><br />
</body>
</html>